Language: Cpp
BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Allman
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: Always
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: InlineOnly

BinPackParameters: OnePerLine

NamespaceIndentation: All

AlwaysBreakAfterReturnType: Automatic
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: Never
AlwaysBreakTemplateDeclarations: Yes
LambdaBodyIndentation: OuterScope

